:root {
  --color-one: #ffffff;
  --color-two: #2196f3;
  --color-three: #000000;
  --color-four: #212121;
  --color-five: #757575;
  --color-six: #2f303a;
  --color-seven: #188ce8;
  --color-eight: #f5f4fa;
  --color-nine: rgba(255, 255, 255, 0.6);
  --color-ten: #eeeeee;
  --color-header-line: #ececec;
  --color-soc-icon: #afb1b8;
  --background-soc-icon: rgba(255, 255, 255, 0.1);
  --modal-overlay: rgba(0, 0, 0, 0.2);
  --color-border-close: rgba(0, 0, 0, 0.1);
  --card-overlay: rgba(33, 150, 243, 0.9);
  --bg-label: rgba(47, 48, 58, 0.8);
  --border-input-modal: rgba(33, 33, 33, 0.2);
  --border-input-footer: rgba(255, 255, 255, 0.3);
  --comment-plaseholder: rgba(117, 117, 117, 0.5);
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
